<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.dmi.devbook"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".TemplateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application.name"
        android:theme="@style/application.theme">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/application.theme.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity"
                  android:launchMode="singleTop"
                  android:theme="@style/CustomTheme"
            />
        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/detail"
            android:theme="@style/CustomActionBarTheme"

            android:parentActivityName=".ui.HomeActivity"
            />

    </application>
</manifest>
